{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Agregar un nuevo cargo</h1>
<hr>
<form method="POST" class="card p-3">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        {{ form.as_p }}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
        <button class="btn btn-primary" type="submit">Enviar</button>
        <a class="btn btn-danger" href="{% url 'cargos_app:list-cargos' %}">Cancelar</a>
    </div>
</form>
{% endblock %}